$active-bg: #007bff;
$active-fg: white;
$neighbour-bg: #cce5ff;
$neighbour-fg: #004085;
$oposite-bg: #28a745;
$oposite-fg: white;

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 14px;
}

h1 {
  &.entry-title {
    font-size: 1.5em;
  }
}

a {
  outline: none;
}

.edit-post {
  position: absolute;
  top: 1em;
  right: 1em;
  &.hidden {
    display: none;
  }
}

#atlasas {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#svg {
  position: relative;
  width: 70%;
  padding: .5em;
  overflow: auto;
  text-align: center;

  .zoom {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-items: stretch;
    top: 1em;
    left: 1em;;
  }

  .go-cell {
    position: fixed;
    z-index: 1;
    top: 1em;
    left: 126px;

    #bavigatorSegment,
    #bavigatorLevel {
      min-width: 40px;
      cursor: default;
    }

    .segments {
      .dropdown-menu {
        &.show {
          width: 206px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          min-width: auto;
          > * {
            flex-grow: 1;
            width: 25%;
          }
        }
      }
    }

    .levels {
      .dropdown-menu {
        &.show {
          width: 96px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          min-width: auto;
          > * {
            flex-grow: 1;
            width: 50%;
          }
        }
      }
    }
  }

  .back-to-website {
    position: fixed;
    z-index: 1;
    top: 1em;
    right: 30%;;
  }

  svg {
    width: 58em;
    height: 58em;
    .neighbour {
      path {
        fill: $neighbour-bg;
      }
      text, text * {
        fill: $neighbour-fg;
      }
    }
    .oposite {
      path {
        fill: $oposite-bg;
      }
      text {
        fill: $oposite-fg;
      }
    }
    a {
      &.loaded {
        &.active {
          path {
            fill: $active-bg;
          }
          text {
            fill: $active-fg;
          }
        }
      }
    }
  }
}

#result {
  width: 30%;
  padding: .5em;
}